# Arctic Regions Geospatial Wrangling

In [3]:
# Import libraries
import os

import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import box

In [4]:
# Load data
df = gpd.read_file(os.path.join('data','arctic_communities.geojson'))

In [6]:
# Display the first 5 rows of the data frame
df.head()

,admin,country,n_communities,geometry
0,United States of America,US,115,"MULTIPOLYGON (((-132.74687 56.52568, -132.7576..."
1,United Kingdom,GB,96,"MULTIPOLYGON (((-2.66768 51.62300, -2.74214 51..."
2,Sweden,SE,133,"MULTIPOLYGON (((19.07646 57.83594, 18.99375 57..."
3,Russia,RU,774,"MULTIPOLYGON (((145.88154 43.45952, 145.89561 ..."
4,Norway,NO,48,"MULTIPOLYGON (((20.62217 69.03687, 20.49199 69..."

In [8]:
# Determine the geometry type of each row
df.geom_type

0     MultiPolygon
1     MultiPolygon
2     MultiPolygon
3     MultiPolygon
4     MultiPolygon
5     MultiPolygon
6          Polygon
7          Polygon
8     MultiPolygon
9     MultiPolygon
10    MultiPolygon
11    MultiPolygon
12    MultiPolygon
13    MultiPolygon
14         Polygon
dtype: object

In [34]:
df = df.explode(column='geometry', index_parts=False).reset_index()

In [35]:
df.geom_type.unique()

array(['Polygon'], dtype=object)

In [44]:
type(df.iloc[[0]])

geopandas.geodataframe.GeoDataFrame

In [45]:
type(df.geometry.iloc[[0]])

geopandas.geoseries.GeoSeries

In [48]:
df.iloc[[0]]['geometry'].bounds["miny"]

0    56.511035
Name: miny, dtype: float64

In [49]:
def min_y(geodf_row):
    return geodf_row.geometry.bounds[1]

In [54]:
df['miny'] = df.apply(min_y, axis=1)

In [55]:
df.head()

,index,admin,country,n_communities,geometry,miny
0,0,United States of America,US,115,"POLYGON ((-132.74687 56.52568, -132.75762 56.5...",56.511035
1,0,United States of America,US,115,"POLYGON ((-132.77988 56.24727, -132.83096 56.2...",56.244141
2,0,United States of America,US,115,"POLYGON ((-134.31274 58.22891, -134.31987 58.2...",58.204102
3,0,United States of America,US,115,"POLYGON ((-145.11851 60.33711, -145.15049 60.3...",60.312646
4,0,United States of America,US,115,"POLYGON ((-144.56563 59.81841, -144.61357 59.8...",59.812646